body {
  background: radial-gradient(circle, olive, rgba(128, 128, 0, 0.6));
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
#root {
  max-height: 100vh;
  overflow-y: auto;
}
.background {
  overflow: scroll;
}
